<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>943877997352-49s7d1qn20acrceqt2bntajtggj3u050.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943877997352-49s7d1qn20acrceqt2bntajtggj3u050</string>
	<key>API_KEY</key>
	<string>AIzaSyAfbdVDeJ9o54WrTIQznRrbynvmp85X3ns</string>
	<key>GCM_SENDER_ID</key>
	<string>943877997352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>happ.jp.net</string>
	<key>PROJECT_ID</key>
	<string>dev-h-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-h-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943877997352:ios:22f8558fd988efc3</string>
	<key>DATABASE_URL</key>
	<string>https://dev-h-app.firebaseio.com</string>
</dict>
</plist>